@import "../mixins.scss";
@import "../variables.scss";
.cartProductList {

.productItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  &__buttons {
    margin: 20px 0px;
    display: flex;
    gap: 15px;
        
    button[data-type='toFavorite'] {
      min-width: 205px;
      font-size: 20px;
      padding: 20px;
      background: $btn_success;
      color: white;
      font-weight: 600;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      @include clickEffect-2(0.97);
    }
       
    button[data-type='toRemove'] {
      text-align: center;
      font-size: 20px;
      padding: 20px;
      background: $btn_danger;
      color: white;
      font-weight: 600;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      @include clickEffect-2(0.97);
    }
  }
  &__image {
    margin-right: 20px;
    img {
      max-width: 230px;
    }
  }
  &__title {
    opacity: 0.8;
    font-size: 28px;
    max-width: 400px;
  }
  &__price {
    font-size: 30px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    font-weight: 500;
    grid-area: price;
  }
  &__counter {
    display: flex;
    align-items: center;
    .ChangeValueButton {
        display: flex;
        align-items: center;
        p {
            font-size: 35px;
            font-weight: 600;
            opacity: 0.8;
        }
        button {
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }
            background: transparent;
            border: none;
            opacity: 0.65;
            font-weight: 600;
            font-size: 30px;
            margin: 5px;
            transition: 0.2s;
            &:active {
              transition: 0.2s;
              transform: scale(0.96);
            }
        }
    }
  }

  @media all and(max-width: 1260px) {
    flex-direction: column;
    margin-bottom: 40px;
  }
  @media all and(max-width: 460px) {
    &__image {
      margin-right: 20px;
      img {
        max-width: 190px;
      }
    }
    &__title {
      font-size: 20px;
    }
    &__buttons {
      flex-direction: column;
      align-items: center;
    }
  }
}
}