@import 'components/mixins.scss';

.productPage {
  main {
    padding: 0 15px;
    display: grid;
    grid-gap: 20px;
    margin-bottom: 40px;
    justify-content: space-around;
    grid-template-rows: repeat(auto-fill, 3);
    grid-template-columns: repeat(auto-fill, 4);
    grid-template-areas:
      "breadCrumbs breadCrumbs breadCrumbs breadCrumbs"
      "navbar products products searchSettings"
      "... pagination pagination ...";
    .BreadCrumbs {
      grid-area: breadCrumbs;
    }
    .searchSettings {
      grid-area: searchSettings;
    }
    .Products {
      grid-area: products;
    }
    .navbar {
      grid-area: navbar;
      &__wrapper {
        max-width: 400px;
      }
    }
    .pagination {
      grid-area: pagination;
    }
    @media all and(max-width: 1200px) and(min-width: 850px) {
      .navbar {
        display: flex;
        justify-content: center;
        &__wrapper {
          max-width: 100% !important;
        }
        &__list {
          @include navbar-horizontal();
        }
      }
      justify-content: center;
      grid-template-rows: repeat(auto-fill, 4);
      grid-template-columns: repeat(auto-fill, 3);
      grid-template-areas:
      "breadCrumbs breadCrumbs breadCrumbs"
      "navbar navbar searchSettings"
      "products products searchSettings"
      "... pagination ...";
    }
    @media all and(max-width: 850px) {
      .searchSettings {
        &__wrapper {
          width: 50vw;
        }
      }
      .BreadCrumbs {
        margin-bottom: 10px;
      }
      .Products {
        display: flex;
        justify-content: center;
        &__wrapper {
          width: 100%;
        }
      }
      grid-gap: 15px;
      justify-content: center;
      align-items: flex-start;
      grid-template-rows: repeat(auto-fill, 5);
      grid-template-columns: repeat(auto-fill, 1);
      grid-template-areas:
      "breadCrumbs breadCrumbs breadCrumbs"
      "navbar navbar searchSettings"
      "navbar navbar searchSettings"
      "products products products"
      "pagination pagination pagination";
    }
    @media all and(max-width: 600px) {
      .Products {
        &__title {
          font-size: 24px;
        }
      }
      .card {
        &__image {
          width: 100%;
        }
        &__name {
          font-size: 18px;
        }
        &__price {
          font-size: 18px;
        }
      }
      .MuiBox-root {
        width: 100%;
      }
      .searchSettings {
        display: flex;
        justify-content: center;
        &__wrapper {
          width: 100%;
        }
        &__title {
          text-align: center;
        }
        &__companyList {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &__PriceSlider {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .header__button {
          margin: 0 auto;
        }
      }
      grid-template-rows: repeat(auto-fill, 5);
      grid-template-columns: 100%;
      grid-template-areas:
      "breadCrumbs"
      "searchSettings"
      "products"
      "pagination";
    }
  }
}
