@import '../mixins.scss';

.Products {
    &__wrapper {
        padding: 15px 0px;
        border-radius: 20px;
        background-color: white;
        max-width: 750px;
    }
    &__title {
        font-size: 36px;
        opacity: 0.8;
        padding: 20px 0px;
        text-align: center;
    }
}