@import '../mixins.scss';

.Products {
    .preload-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        .css-18lrjg1-MuiCircularProgress-root {
            color: $green_color_soft;
          }
    }
    &__wrapper {
        padding: 15px 0px;
        border-radius: 20px;
        background-color: white;
        max-width: 750px;
    }
    &__title {
        font-size: 36px;
        opacity: 0.65;
        padding: 20px 0px;
        text-align: center;
    }
}