.Stock {
  &__top {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  &__content {
      
      padding-top: 6%;
      padding-bottom: 6%;
  }
  &__wrapper {
    border-radius: 20px;
    width: 400px;
    height: 229px;
    position: relative;
    background-color: white; 
    
    h2 {
        font-size: 43px;
    }
    ul {
        margin-left: 10px;
        padding: 20px;
    }
    ul li {
        cursor: pointer;
        list-style: none;
        padding: 10px;
        font-size: 25px;
        font-weight: 500;
    }
  }
}
