@import '../mixins.scss';
@import '../variables.scss';

.productBuy {
    margin: 16px;
    &__wrapper {
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        max-width: 300px;
        grid-gap: 20px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fill, 2);
        grid-template-rows: repeat(auto-fill, 2);
        grid-template-areas: "price toFav"
                             "buyBtn buyBtn";
    }

    &__price {
        color: $green_color_soft;
        font-size: 50px;
        grid-area: price;
    }
    &__toFavBtn {
        grid-area: toFav;
    }
    &__buyBtn {
        display: flex;
        justify-content: center;
        grid-area: buyBtn;
        .header__button {
            font-size: 50px;
            padding: 10px;
        }
    }
}