@import "../mixins.scss";
@import "../variables.scss";

.productImages {
    .button-wrapper {
        max-width: 60px;
    }
    .button-wrapper.back {
        padding-left: 20px;
    }
    .button-wrapper.forward {
        padding-right: 40px;
    }
    &__productTitle {
        font-size: 30px;
        margin-bottom: 20px;
        padding: 0 10px;
    }
    &__wrapper {
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        max-width: 600px;
        min-width: 600px;
        @include flex_center-v-h();
    }
    &__currentImg {
        img {
            cursor: pointer;
            max-width: 300px;
        }
    }
    &__imgBar {
        margin-top: 20px;
        img {
            padding-bottom: 10px;
            cursor: pointer;
            margin: 10px;
            max-width: 120px;
            height: 100px;
            transition: 0.3s;
        }
       
    }
}