@import "../mixins.scss";
@import "../variables.scss";

.productImages {
    &__productTitle {
        font-size: 30px;
    }
    &__wrapper {
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        max-width: 600px;
        @include flex_center-v-h();
    }
    &__currentImg {
        img {
            cursor: pointer;
            max-width: 300px;
        }
    }
    &__imgBar {
        margin-top: 20px;
        display: flex;
        .barItem {
            display: flex;
            flex-direction: column;
        }
        img {
            padding-bottom: 10px;
            cursor: pointer;
            margin: 10px;
            max-width: 120px;
            height: 100px;
            transition: 0.3s;
        }:hover {
            transition: 0.3s;
            transform: scale(1.05);
        }
        .image {
            display: block;
            width: 100%;
            border-radius: 5px;
            height: 6px;
            transition: 0.3s;
            &.active {
                transition: 0.3s;
                background-color: $green_lime_variant_1;
            }
        }
    }
}