$boxShadow_1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadow_2: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$button_hover_shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$button_active: rgba(0, 0, 0, 0.05);

$green_color_soft: rgba(64, 178, 89, 1);
$green_color_darker: rgb(60, 168, 84);
$input_color_whitesmoke: rgba(236, 236, 236, 1);
$blackout: rgba(0, 0, 0, 0.3);

$Price_slider: rgba(150, 210, 163, 1);
$Price_slider_thumb_active: rgba(150, 210, 163, 0.5);
$Price_slider_active: rgb(185, 185, 185);

$green_lime_variant_1: rgba(128, 190, 142, 1);
$gray_light_variant_1: rgba(0, 0, 0, 0.64);

$btn_success: rgba(61, 171, 85, 1);
$btn_danger: rgba(184, 104, 104, 1);
$light_gray: rgba(158, 158, 158, 1);