.topSlider {
    display: flex;
    justify-content: center;
    &__wrapper {
        max-width: 600px;
        min-width: 600px;
    }
    .slide {
        background-color: transparent !important;
        img {
            max-width: 600px;
            min-width: 400px;
            border-radius: 20px;
        }
    }
    @media all and(max-width: 860px) {
        &__wrapper {
            max-width: 500px;
            min-width: 500px;
        }
        .slide {
            img {
                max-width: 500px;
                min-width: 100px;
            }
        }
    }
    @media all and(max-width: 400px) {
        &__wrapper {
            max-width: 400px;
            min-width: 400px;
        }
        .slide {
            img {
                max-width: 400px;
                min-width: 100px;
            }
        }
    }
    
}