@import '../variables.scss';
@import '../mixins.scss';

.searchSettings {
    &__wrapper {
        width: 350px;
        border-radius: 20px;
        padding: 15px;
        background-color: white;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 36px;
        color: $gray_light_variant_1;
    }
    &__listTitle {
        margin-bottom: 15px;
        font-size: 24px;
        color: $gray_light_variant_1;
    }
    .label {
        display: flex;
        align-items: center;
    }
    .list {
        list-style: none;
        padding: 8px 0px;
        &__text {
            margin: 2px;
            font-size: 20px;
            font-weight: 500;
            color: $gray_light_variant_1;
        }
        .Mui-checked {
            color: $green_lime_variant_1;
        }
       
    }

    &__PriceSlider {
        margin: 15px 0px;
        h3 {
            color: $gray_light_variant_1;
            padding: 5px;
        }
        .MuiSlider-rail {
            color: $Price_slider;
            opacity: 1;
        }
        .MuiSlider-track {
            color: $Price_slider_active;
        }
        .MuiSlider-thumbColorPrimary {
            color: $Price_slider_active;
            box-shadow: none !important;
        }
        .css-eg0mwd-MuiSlider-thumb:hover {
            box-shadow: 0px 0px 0px 8px $Price_slider_thumb_active !important;
        }
        
    }

    .clickButton {
        @include button_default(10px, 14px, $green_lime_variant_1, 35px, white, 600);
        @include clickEffect-2(0.97);
    }
}
