@import "../mixins.scss";
@import "../variables.scss";

.footer {
    height: 88px;
    width: 100%;
    background-color: white;
    box-shadow: $boxShadow_1;
    @include flex_center-v-h();
    &__github {
        @include reset_button(20px, 500, 0.8);
    }
}