@import 'components/mixins.scss';
@import 'components/variables.scss';

.homePage {
  font-family: "Roboto";
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .preload-wrapper {
    .css-18lrjg1-MuiCircularProgress-root {
      color: $green_color_soft;
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  main {
    margin-top: 40px;
    margin-bottom: 110px;
    padding: 0px 40px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas:
      "navbar  topSlider topSlider Stock"
      "navbar CurrentOffers CurrentOffers CurrentOffers"
      "CompanySlider CompanySlider CompanySlider CompanySlider";
    .navbar {
      max-width: 280px;
      grid-area: navbar;
    }
    .topSlider {
      grid-area: topSlider;
    }
    .Stock {
      grid-area: Stock;
    }
    .CurrentOffers {
      grid-area: CurrentOffers;
    }
    .CompanySlider {
      grid-area: CompanySlider;
      margin: 0 auto;
    }

    @media all and(max-width: 1320px) {
      grid-gap: 3vw;
      .Stock {
        margin: 0 auto;
      }
      .CurrentOffers {
        width: 100%;
        @include flex_center-v-h();
      }
      grid-template-areas:
        "navbar  Stock Stock"
        "navbar topSlider topSlider"
        "CurrentOffers CurrentOffers CurrentOffers"
        "CompanySlider CompanySlider CompanySlider";
    }
    @media all and(max-width: 1000px) {
      .navbar {
        max-width: 100%;
        &__list {
          display: grid;
          grid-template-rows: repeat(auto-fill, 1fr);
          grid-template-columns: repeat(4, 1fr);
        }
      }
      grid-template-areas:
        "navbar navbar navbar"
        "topSlider topSlider topSlider"
        "Stock Stock Stock"
        "CurrentOffers CurrentOffers CurrentOffers"
        "CompanySlider CompanySlider CompanySlider";
      .Stock {
        width: 80%;
        &__wrapper {
          width: 100%;
        }
      }
    }
    @media all and(max-width: 950px) {
      grid-template-columns: 1fr;
      .Stock {
        width: 100%;
      }
      .navbar {
        &__list {
          @include navbar-horizontal();
        }
        &__list-item{
          display: flex;
          justify-content: center;
        }
      }
    }
    @media all and(max-width: 600px) {
      .CurrentOffers__title {
        text-align: center;
      }
      .topSlider {
        position: relative;
        height: 240px;
        &__wrapper {
          position: absolute;
        }
      }
    }
    @media all and(max-width: 500px) {
      grid-template-areas:
        "topSlider topSlider topSlider"
        "Stock Stock Stock"
        "CurrentOffers CurrentOffers CurrentOffers"
        "CompanySlider CompanySlider CompanySlider";
      .navbar {
        display: none;
      }
      .CompanySlider {
        font-size: 24px;
      }
    }
    @media all and(max-width: 345px){
      padding: 0px;
    }
  }
}
